<template>
  <div >
      <chart :chart-data="datacollection" class="chart"></chart>
  </div>
</template>
<script>
    import Chart from "./../Chart.js";
    export default {
        components: {
            Chart
        },
        data() {
            return {
                datacollection: null
            };
        },
        mounted() {

            this.$http.get('http://localhost:8080/').then(function (response) {
                console.log(response.body);
                this.fillData(Object.keys(response.body.data), Object.values(response.body.data))
            })
        },
        methods: {
            fillData(labels, values) {
                this.datacollection = {
                    labels:  labels,
                    datasets: [
                        {
                            label: "Distribution of users per Signup Flow Stage",
                            backgroundColor: "#f87979",
                            data: values
                        }
                    ]
                };
            },
        }
    };
</script>
<style scoped>
    .chart {
        width: 30em;
        height: 25em;
        margin:auto;
        padding: 50px;
    }
</style>