<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <Visualisation></Visualisation>
  </div>
</template>

<script>
import Visualisation from './components/Visualisation.vue';

export default {
  name: 'app',
  components: {
    Visualisation
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#app > img {
  height: 50px;
}
</style>
